{% extends 'layout.html' %}

{% block body %}

<h1>Companies</h1>


  <div id="accordion">
	<div class="card">
	  <div class="card-header" id="headingOne">
		<h5 class="mb-0">
		  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			<h4>List of comapnies </h4>
		  </button>
		</h5>
	  </div>
  
	  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="card-body">
			<div class="container">
				<div class="row">
				  <div class="col-xxl">
					<div class="card-group">
						{% for item in items %}
						<div class="card">
						<img style="width: 200px;">
						<div class="card-body">
							<h4 class="card-title">{{ item.Title }}</h4>
				
							{% for comp in item.companies %}
							<h6 class="card-text">{{ comp }}</h6>
							{%endfor%}
				
						</div>
						</div>
						{% endfor %}
					</div>
				  </div>
				</div>
			  </div>
		</div>
	  </div>
	</div>
	<div class="card">
	  <div class="card-header" id="headingTwo">
		<h5 class="mb-0">
		  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			<h4>Statistics</h4>
		  </button>
		</h5>
	  </div>
	  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		<div class="row">
			<div class="col-xxl">
				<div class="card-body">
					<div id="Mypiechart"></div>
				</div>
			</div>

			<div class="col-xxl">



			</div>
		</div>
		

	  </div>
	</div>
<!-- 	<div class="card">
	  <div class="card-header" id="headingThree">
		<h5 class="mb-0">
		  <button class="btn btn-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			<h4>Maybe something? </h4>
		  </button>
		</h5>
	  </div>
	  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
		<div class="card-body">
		  More features comming soon! 
		</div>
	  </div>
	</div> -->
  </div>
	



	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<p id="demo"></p>

	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
  
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
			['Years from now', 'Deals'],
			['Last year',  {{dealsList[0]}}],
			['Two years ago',  {{dealsList[1]}}],
			['Three years ago',  {{dealsList[2]}}],
			['Four years ago',  {{dealsList[3]}}],
			['Five years ago',  {{dealsList[4]}}]
		  ]);
  
		  var options = {
			title: 'Deals made each year',
			curveType: 'function',
			legend: { position: 'bottom' }
		  };
  
		  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
		  chart.draw(data, options);
		}
	  </script>





	<script type="text/javascript">

		//var a = {{ items[0].Title }};
		// Load google charts
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
		
		// Draw the chart and set the chart values
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
		  ['Task', 'Hours per Day'],
		  ["{{ items[0].Title }}", {{ items[0].companies|length }}],
		  ["{{ items[1].Title }}", {{ items[1].companies|length }}],
		  ["{{ items[2].Title }}", {{ items[2].companies|length }}],
		  ["{{ items[3].Title }}", {{ items[3].companies|length }}]
		]);
		
		  // Optional; add a title and set the width and height of the chart
		  var options = {'title':'Distribution of company relations', 'width':550, 'height':400};
		
		  // Display the chart inside the <div> element with id="piechart"
		  var chart = new google.visualization.PieChart(document.getElementById('Mypiechart'));
		  chart.draw(data, options);
		}
	</script>




{% endblock %}
