{% extends 'layout.html' %}

{% block body %}
	<h1>Last years deals</h1>
	<br>

	<div class="container">
		<div class="row">
		  <div class="col-xl">
			<div class="jumbotron" style = "height:300px;">
				<h5 style="text-align:center;">{{items[0].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[0].value}}</h4>
			  </div>
		  </div>
		  <div class="col-xl">
			<div class="jumbotron" style = "height:300px;" style = "width:600px;">
				<h5 style="text-align:center;">{{items[1].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[1].value}}</h4>
			  </div>
		  </div>
		</div>
		<div class = "row">
		  <div class="col-xl">
			<div class="jumbotron" style = "height:300px;">
				<h5 style="text-align:center;">{{items[2].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[2].value}}</h4>
			  </div>
		  </div>
		  <div class="col-xl">
			<div class="jumbotron" style = "height:300px;">
				<h5 style="text-align:center;">{{items[3].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[3].value}}</h4>
			  </div>
		  </div>
		</div>
		<div class="jumbotron">
			<div id="curve_chart" style="text-align:center" style="width: 600px; height: 500px" ></div>
		  </div>







	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Years from now', 'Deals'],
          ['Last year',  {{dealsList[0]}}],
          ['Two years ago',  {{dealsList[1]}}],
          ['Three years ago',  {{dealsList[2]}}],
		  ['Four years ago',  {{dealsList[3]}}],
		  ['Five years ago',  {{dealsList[4]}}]
        ]);

        var options = {
          title: 'Deals made each year',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>




<!-- 		{% for deal in deals %}
		<p>{{ deal }}</p>
		{% endfor %} -->

	
{% endblock %}
