{% extends 'layout.html' %}

{% block body %}
	<h1>Deals {{yearsList[1]}}</h1>
	<br>

	<div class="container">
		<div class="row">
		  <div class="col-xl">
			<div class="jumbotron" style = "height:auto;">
				<h5 style="text-align:center;">{{items[0].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[0].value}}</h4>
				{% for year in items[1].value %}
				<h6 style="text-align:center; ">{{ year }}</h6>
				{%endfor%}
			  </div>
		  </div>
		  <div class="col-xl">
			<div class="jumbotron" style = "height:auto;" style = "width:600px;">
				<h5 style="text-align:center;">{{items[2].data}}</h5>
				<hr class="my-4">
				<h4 style="text-align:center;">{{items[2].value}}</h4>
				{% for year in items[3].value %}
				<h6 style="text-align:center; ">{{ year }}</h6>
				{%endfor%}
			  </div>
		  </div>
		</div>
		
			<div class="jumbotron" style = "height:auto;">
		
				<div class = "row">
					<div class="col-xl" id="customerCol">
						
							<h5 style="text-align:center;">{{customerRevenue[0].data}}</h5>
							<hr class="my-4">
							{% for comp in customerRevenue[0].value %}
								<h5 id="customers" style="text-align:left;">{{ comp }} SEK</h5>
							{%endfor%}
					</div>
		  
		  			<div class="col-xl">

						<div id="companyChart" style="text-align:center;width: auto; height: auto" ></div>

		  			</div>
		  		</div>
			</div>
			


		<div class="jumbotron">
			<h5 style="text-align:center;">Number of closed deals</h5>
			<hr class="my-4">

			<button type="button" class="btn btn-primary" id="button0" onclick="year0()">{{yearsList[0]}}</button>
			<button type="button" class="btn btn-primary" id="button1" onclick="year1()">{{yearsList[1]}}</button>
			<button type="button" class="btn btn-primary" id="button2" onclick="year2()">{{yearsList[2]}}</button>
			<button type="button" class="btn btn-primary" id="button3" onclick="year3()">{{yearsList[3]}}</button>
			<button type="button" class="btn btn-primary" id="button4" onclick="year4()">{{yearsList[4]}}</button>
			<button type="button" class="btn btn-primary" id="button5" onclick="year5()">{{yearsList[5]}}</button>

			<div id="curve_chart" style="text-align:center;width: auto; height: auto" ></div>

		  </div>



	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
  
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([['Customer', 'Value from closed deals (SEK)'],
		  ['{{smallChart[0][0][0]}}',{{smallChart[0][0][1]}}]]);

			{% for comp in smallChart[0] %}
				{% if loop.index != 1 %}
					data.addRow(['{{comp[0]}}',{{comp[1]}}])
				{% endif %}
			{% endfor %}
  
		  var options = {
			title: 'Value from customers',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
		  };
  
		  var chart = new google.visualization.ColumnChart(document.getElementById('companyChart'));
  
		  chart.draw(data, options);
		}
	</script>





	<script type="text/javascript">
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);
  
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[1][0]}}],
			['Feb',  {{dealsList[1][1]}}],
			['Mars',  {{dealsList[1][2]}}],
			['April',  {{dealsList[1][3]}}],
			['May',  {{dealsList[1][4]}}],
			['June',  {{dealsList[1][5]}}],
			['July',  {{dealsList[1][6]}}],
			['Aug',  {{dealsList[1][7]}}],
			['Sept',  {{dealsList[1][8]}}],
			['Oct',  {{dealsList[1][9]}}],
			['Nov',  {{dealsList[1][10]}}],
			['Dec',  {{dealsList[1][11]}}]
		  ]);
  
		  var options = {
			title: 'Deals closed each month {{yearsList[1]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
		  };
  
		  var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));
  
		  chart.draw(data, options);
		  
		  document.getElementById("button0").style.color = "white";
		  document.getElementById("button1").style.color = "red";
		  document.getElementById("button2").style.color = "white";
		  document.getElementById("button3").style.color = "white";
		  document.getElementById("button4").style.color = "white";
		  document.getElementById("button5").style.color = "white";
		}
	</script>


	<script>
		function year0() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[0][0]}}],
			['Feb',  {{dealsList[0][1]}}],
			['Mars',  {{dealsList[0][2]}}],
			['April',  {{dealsList[0][3]}}],
			['May',  {{dealsList[0][4]}}],
			['June',  {{dealsList[0][5]}}],
			['July',  {{dealsList[0][6]}}],
			['Aug',  {{dealsList[0][7]}}],
			['Sept',  {{dealsList[0][8]}}],
			['Oct',  {{dealsList[0][9]}}],
			['Nov',  {{dealsList[0][10]}}],
			['Dec',  {{dealsList[0][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[0]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}		

				document.getElementById("button0").style.color = "red";
				document.getElementById("button1").style.color = "white";
				document.getElementById("button2").style.color = "white";
				document.getElementById("button3").style.color = "white";
				document.getElementById("button4").style.color = "white";
				document.getElementById("button5").style.color = "white";
			}
	</script>

	<script>
		function year1() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[1][0]}}],
			['Feb',  {{dealsList[1][1]}}],
			['Mars',  {{dealsList[1][2]}}],
			['April',  {{dealsList[1][3]}}],
			['May',  {{dealsList[1][4]}}],
			['June',  {{dealsList[1][5]}}],
			['July',  {{dealsList[1][6]}}],
			['Aug',  {{dealsList[1][7]}}],
			['Sept',  {{dealsList[1][8]}}],
			['Oct',  {{dealsList[1][9]}}],
			['Nov',  {{dealsList[1][10]}}],
			['Dec',  {{dealsList[1][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[1]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}

				document.getElementById("button0").style.color = "white";
				document.getElementById("button1").style.color = "red";
				document.getElementById("button2").style.color = "white";
				document.getElementById("button3").style.color = "white";
				document.getElementById("button4").style.color = "white";
				document.getElementById("button5").style.color = "white";
			}
	</script>

	<script>
		function year2() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[2][0]}}],
			['Feb',  {{dealsList[2][1]}}],
			['Mars',  {{dealsList[2][2]}}],
			['April',  {{dealsList[2][3]}}],
			['May',  {{dealsList[2][4]}}],
			['June',  {{dealsList[2][5]}}],
			['July',  {{dealsList[2][6]}}],
			['Aug',  {{dealsList[2][7]}}],
			['Sept',  {{dealsList[2][8]}}],
			['Oct',  {{dealsList[2][9]}}],
			['Nov',  {{dealsList[2][10]}}],
			['Dec',  {{dealsList[2][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[2]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}
				
				document.getElementById("button0").style.color = "white";
				document.getElementById("button1").style.color = "white";
				document.getElementById("button2").style.color = "red";
				document.getElementById("button3").style.color = "white";
				document.getElementById("button4").style.color = "white";
				document.getElementById("button5").style.color = "white";
			}
	</script>

	<script>
		function year3() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[3][0]}}],
			['Feb',  {{dealsList[3][1]}}],
			['Mars',  {{dealsList[3][2]}}],
			['April',  {{dealsList[3][3]}}],
			['May',  {{dealsList[3][4]}}],
			['June',  {{dealsList[3][5]}}],
			['July',  {{dealsList[3][6]}}],
			['Aug',  {{dealsList[3][7]}}],
			['Sept',  {{dealsList[3][8]}}],
			['Oct',  {{dealsList[3][9]}}],
			['Nov',  {{dealsList[3][10]}}],
			['Dec',  {{dealsList[3][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[3]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}
				
				document.getElementById("button0").style.color = "white";
				document.getElementById("button1").style.color = "white";
				document.getElementById("button2").style.color = "white";
				document.getElementById("button3").style.color = "red";
				document.getElementById("button4").style.color = "white";
				document.getElementById("button5").style.color = "white";
			}
	</script>

	<script>
		function year4() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[4][0]}}],
			['Feb',  {{dealsList[4][1]}}],
			['Mars',  {{dealsList[4][2]}}],
			['April',  {{dealsList[4][3]}}],
			['May',  {{dealsList[4][4]}}],
			['June',  {{dealsList[4][5]}}],
			['July',  {{dealsList[4][6]}}],
			['Aug',  {{dealsList[4][7]}}],
			['Sept',  {{dealsList[4][8]}}],
			['Oct',  {{dealsList[4][9]}}],
			['Nov',  {{dealsList[4][10]}}],
			['Dec',  {{dealsList[4][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[4]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}
				
				document.getElementById("button0").style.color = "white";
				document.getElementById("button1").style.color = "white";
				document.getElementById("button2").style.color = "white";
				document.getElementById("button3").style.color = "white";
				document.getElementById("button4").style.color = "red";
				document.getElementById("button5").style.color = "white";
			}
	</script>

	<script>
		function year5() {
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = google.visualization.arrayToDataTable([
			['Month', 'Number of deals'],
			['Jan',  {{dealsList[5][0]}}],
			['Feb',  {{dealsList[5][1]}}],
			['Mars',  {{dealsList[5][2]}}],
			['April',  {{dealsList[5][3]}}],
			['May',  {{dealsList[5][4]}}],
			['June',  {{dealsList[5][5]}}],
			['July',  {{dealsList[5][6]}}],
			['Aug',  {{dealsList[5][7]}}],
			['Sept',  {{dealsList[5][8]}}],
			['Oct',  {{dealsList[5][9]}}],
			['Nov',  {{dealsList[5][10]}}],
			['Dec',  {{dealsList[5][11]}}]
			]);

			var options = {
			title: 'Deals closed each month {{yearsList[5]}}',
			curveType: 'none',
			legend: { position: 'bottom' },
			bars: 'vertical'
			};

			var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart'));

			chart.draw(data, options);
		}		

				document.getElementById("button0").style.color = "white";
				document.getElementById("button1").style.color = "white";
				document.getElementById("button2").style.color = "white";
				document.getElementById("button3").style.color = "white";
				document.getElementById("button4").style.color = "white";
				document.getElementById("button5").style.color = "red";
			}
	</script>




	<script>
		function year1_2() {

			let list = ""

			{% for comp in customerRevenue[0].value %}
				document.getElementById('customers').innerHTML = document.getElementById('customers').innerHTML + "{{ comp }}" 
			{%endfor%}
			
			}
	</script>





	
{% endblock %}
